* {
  margin: 0;
  padding: 0; }
*,

*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; 
  } 
}

.navbar-nav {
  height: 5rem;
  background-color: rgb(18, 175, 223);
  text-align: center;
  padding: 1rem;
}

body {
    padding: 1rem;
}

.container {
    flex-direction: row;
}